<div class="col-10">
  <button pButton type="button" label="Save" (click)="handleClick($event)"></button>
</div>

<button pButton type="button" class="p-button-info"></button>
<button pButton type="button" label="Primary"></button>
<button pButton type="button" label="Secondary" class="p-button-secondary"></button>
<button pButton type="button" label="Success" class="p-button-success"></button>
<button pButton type="button" label="Info" class="p-button-info"></button>
<button pButton type="button" label="Warning" class="p-button-warning"></button>
<button pButton type="button" label="Help" class="p-button-help"></button>
<button pButton type="button" label="Danger" class="p-button-danger"></button>

<!-- <h5>Block</h5>
<input type="text" pInputText class="p-mb-2 p-d-block" />
<input type="text" pInputText class="p-d-block" />

<div class="left">
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny" class="p-mb-2 p-d-block"></p-checkbox>
    <label for="ny">New York</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedCities" inputId="sf" class="p-mb-2 p-d-block"></p-checkbox>
    <label for="sf">San Francisco</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="selectedCities" inputId="la" class="p-mb-2 p-d-block"></p-checkbox>
    <label for="la">Los Angeles</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="Chicago" [(ngModel)]="selectedCities" inputId="ch" class="p-mb-2 p-d-block"></p-checkbox>
    <label for="ch">Chicago</label>
  </div>
</div>



<div class="card">
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny" class="p-d-block"></p-checkbox>
    <label for="ny">New card York</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedCities" inputId="sf" class="p-d-block"></p-checkbox>
    <label for="sf">San Francisco</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="selectedCities" inputId="la" class="p-d-block"></p-checkbox>
    <label for="la">Los Angeles</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox name="group1" value="Chicago" [(ngModel)]="selectedCities" inputId="ch" class="p-d-block"></p-checkbox>
    <label for="ch">Chicago</label>
  </div>
</div>

<div class="main">
  <p>Main Content</p>
</div>

<div class="right">
  <p>Right Content</p>
</div>

{{ selectedCities | json }}


 <footer>
  <p>Footer</p>
</footer> --> 

<!-- <div class="card">
  <h5>Vertical</h5>
  <div class="field">
      <label for="firstname1">Firstname</label>
      <input id="firstname1" type="text" class="inputfield w-full">
  </div>
  <div class="field">
      <label for="lastname1">Lastname</label>
      <input id="lastname1" type="text" class="inputfield w-full">
  </div>
</div>

<div class="field grid">
  <label for="firstname3" class="col-fixed" style="width:100px">Firstname</label>
  <div class="col">
      <input id="firstname3" type="text" class="inputfield">
  </div>
</div>
<div class="field grid">
  <label for="lastname3" class="col-fixed" style="width:100px">Lastname</label>
  <div class="col">
      <input id="lastname3" type="text" class="inputfield">
  </div>
</div>

<div class="card">
  <h5>Vertical Checkbox</h5>
  <div class="field-checkbox">
      <input type="checkbox" id="city1">
      <label for="city1">Chicago</label>
  </div>
  <div class="field-checkbox">
      <input type="checkbox" id="city2">
      <label for="city2">Los Angeles</label>
  </div>

  <h5>Horizontal Checkbox</h5>
  <div class="formgroup-inline">
      <div class="field-checkbox">
          <input type="checkbox" id="city3">
          <label for="city3">Chicago</label>
      </div>
      <div class="field-checkbox">
          <input type="checkbox" id="city4">
          <label for="city4">Los Angeles</label>
      </div>
  </div>
</div>

<div class="grid">
  <div class="col">1</div>
  <div class="col">2</div>
  <div class="col">3</div>
</div>

<div class="grid">
  <div class="col-6">6</div>
  <div class="col-6">6</div>
  <div class="col-6">6</div>
  <div class="col-6">6</div>
</div>


<div class="grid">
  <div class="col-fixed" style="width:100px">Fixed</div>
  <div class="col">Auto</div>
</div> -->