<p>home works!</p>

npm install -g @angular/cli npm i @angular/core npm install primeng --save npm install primeicons --save npm install @angular/cdk --save npm install @angular/animations --save ng generate component --skip-tests=true component-name ng g component components/home
-d --skip-tests=true ng g component components/home --skip-tests=true ng g component components/toPark --skip-tests=true ng g component components/configuration --skip-tests=true ng g component components/test --skip-tests=true